<h1>Burgers</h1>

<h2>Burgers that have not been devoured.</h2>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
    <li>
        {{burger_name}} {{devoured}}
    </li>
    {{/unless}}
    {{/each}}
</ul>

<h2>Burgers that have been devoured.</h2>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    <li>
        {{burger_name}} {{devoured}}
    </li>
    {{/if}}
    {{/each}}
</ul>

<h2>Add a Burger</h2>
<form action="/burgers/create" method="POST">
    <input type="text" class="form-control" name="burger_name" value="" id="enter_text">
    <button type="submit" class="btn btn-primary" id="text-enter-button">Submit</button>
</form>